:root {
    --prim: hsl(360, 91%, 36%);
}

/* general formatting */
h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.redF {
    background-color: var(--prim);
    border-radius: 15px;
    padding: 10px;
    border: var(--prim) solid 3px;
    font-style: bold;
    color: white;
    margin-bottom: 5px;
}

.hover:hover {
    filter: opacity(70%);
}

/* formatting for the header */
header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    margin: 20px;
    font-size: 1em;
    font-style: bold;
}

#score {
    color: var(--prim);
}

/* formatting for the start page */
#start {
    height: 80vh;
    display: block;
}

#start * {
    font-size: 1em;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

#start h1 {
    font-size: 3em;
}

#start div {
    display: flex;
    justify-content: center;
}

/* formatting for questions page */
#questionSect {
    margin-left: 20vw;
    margin-right: 10vw;
    display: none;
}

.responses * {
    display: flex;
    flex-direction: column;
}


#qFooter {
    border-top: solid 3px grey;
    display: none;
    justify-content: left;
    padding: 10px;
}

#qFooter * {
    padding: 5px;
    border-radius: 5px;
    font-style: bold;
    font-size: 1em;
}

/* formatting for end page */
#end {
    display: none;
    text-align: center;
}

#end * {
    margin-bottom: 5px;
}

/* formatting for scores page */
#scores {
    display: none;
    text-align: center;
    margin: 0px;
}

#scores * {
    margin-bottom: 5px;
}

#scores div {
    display: flex;
    justify-content: center;

}

#allScores p {
    color: black;
    background-color: white;
    border-radius: 25px;
    padding: 5px;
}